<html>
<head>
  <nav>
    <h1>Catalog App</h1>
    </nav>
</head>
<body>

  <div>
    <div>
      <div>
        <h1>Categories</h1></br></br>
        <div>
          {% for c in categories %}
          <p><a href="/catalog/{{c.name}}/Items">{{c.name}}</a></p>
          {% endfor %}
        </div>
      </div>
      <div>
        <h1>Latest Items</h1></br></br>
        {% for l in latestItem %}

        <div>
          <p><a href="/catalog/{{l[1].name}}/{{l[0].name}}"> {{l[0].name}} </a></p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


</body>

</html>
