<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <div class="topnav">
    <a href="{{url_for('catalog')}}">Catalog App</a></h1>
    <!--<a href="/catalog/sports">Sports</a>-->
      <div class="topnav-right">
        {% if session['state'] %}
          <a href="{{url_for('gdisconnect')}}">Log Out</a>
        {% else %}
          <a href="{{url_for('showLogin')}}">Log In</a>
        {% endif %}
      </div>
    </div>
  </head>
  <body>
    <div class="container">
      <h1>Editing Item: {{i.name}}</h1>
      <form class="submission-form" method= "post">
      <label for="name">Item Name</label>
      <input type = 'text' name='name' placeholder='{{i.name}}'>
      <label for="description">Description</label>
      <input type = 'text' name='description' placeholder='{{i.description}}'>
      <label for="category">Category</label>
      <select name="category">
        {% for c in categories %}
        <option value="{{c.id}}" {% if c.name == currentcategory.name %} selected {% endif %}> {{c.name}} </option>
      {% endfor %}
      </select>
      <button id="btn" type="submit">
        <span>Save</span>
      </button>
    </div>
  </body>

</html>
