<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <div class="topnav">
    <a href="{{url_for('catalog')}}">Catalog App</a></h1>
    <!--<a href="/catalog/sports">Sports</a>-->
      <div class="topnav-right">
        {% if session['state'] %}
          <a href="{{url_for('gdisconnect')}}">Log Out</a>
        {% else %}
          <a href="{{url_for('showLogin')}}">Log In</a>
        {% endif %}
      </div>
    </div>
  </head>
  <body>
    <div class='container'>
      <h1>New Sport</h1>
      <form class="submission-form" action="{{url_for('newSport')}}" method = 'POST'>
        <label for="name">Sport Name</label>
        <input type = 'text' size='30' name='name' required><br>
        <button type="submit" id="btn">
          <span>Create</span>
        </button>
      </form>
      <h3>Current Sports in the Database:</h3>
      {% for c in categories %}
      <p>{{c.name}}</p>
      {% endfor %}
    </div>
  </body>
</html>
