<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <div class="topnav">
  <a href="{{url_for('catalog')}}">Catalog App</a></h1>
  <!--<a href="/catalog/sports">Sports</a>-->
    <div class="topnav-right">
      {% if session['state'] %}
        <a href="{{url_for('gdisconnect')}}">Log Out</a>
      {% else %}
        <a href="{{url_for('showLogin')}}">Log In</a>
      {% endif %}
    </div>
  </div>
</head>
<body>

  <div class="container">
    <div>
      <div class="left-split">
        <h1>Categories</h1></br></br>
        <div>
          {% for c in categories %}
          <p><a href="/catalog/{{c.name}}/Items">{{c.name}}</a></p>
          {% endfor %}
        </div>
      </div>

      <div class="right-split">
        <h1>{{currentcategory.name}} Items (!count! Items)</h1></br></br>
        {% for i in itemsincategory %}
        <div>
          <p><a href="{{url_for('itemDescription', category_name = currentcategory.name, item_name = i.name)}}">{{i.name}}</a></p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


</body>

</html>
