<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <div class="topnav">
  <a href="{{url_for('catalog')}}">Catalog App</a></h1>
  <!--<a href="/catalog/sports">Sports</a>-->
    <div class="topnav-right">
      {% if session['state'] %}
        <a href="{{url_for('gdisconnect')}}">Log Out</a>
      {% else %}
        <a href="{{url_for('showLogin')}}">Log In</a>
      {% endif %}
    </div>
  </div>
</head>
<body>
<div class="container">
  <div>
    <h1>{{item.name}}</h1></br></br>
  </div>
  <div>
    <p>{{item.description}}</p>
  {% if item.user_id == session['user_id'] %}
      <p>
        <a href="{{ url_for('editItem', item_name=item.name, category_name=category.name) }}">Edit</a> | <a href="{{ url_for('deleteItem', item_name=item.name, category_name=category.name) }}">Delete</a>
      </p>
    {% else %}
    {% endif %}<p>

    </p>
  </div>
</div>

</body>

</html>
