<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <nav>
    <h1>Catalog App</h1>
    </nav>
</head>
<body>

<div>
  <h1>{{item.name}}</h1></br></br>
</div>

<div>
  <p>{{item.description}}</p>
{#
  <a href="{{url_for(editItem, category.name=category_name,  item.name=item_name)}}">Edit</a> |
  <a href="{{url_for(deleteItem, category.name=category_name,  item.name=item_name )}}">Delete</a>
#} 

</div>


</body>

</html>
